body {
  font-family: "Poppins", sans-serif;
  background: #050933;
  color: white;
  text-align: center;
  padding: 20px;
}

.App h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.new-game-btn {
  padding: 10px 20px;
  background: #ff4de1;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}

.new-game-btn:hover {
  background: #ff2fcf;
}

.moves {
  font-size: 18px;
  margin-bottom: 21px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;

  width: fit-content;
  margin: 0 auto;

  justify-content: center;
  justify-items: center;
}

.card {
  width: 120px;
  height: 120px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card div {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card .front {
  transform: rotateY(180deg);
}

.card .back {
  background: #ffb3f6;
}

.card .flipped {
  transform: rotateY(180deg);
}

.card div img {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: #fff;
  color: #000;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
  animation: popup 0.3s ease;
}

@keyframes popup {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.popup-box h2 {
  margin: 0 0 10px 0;
  font-size: 26px;
}

.popup-box p {
  margin-bottom: 15px;
  font-size: 18px;
}

.popup-btn {
  padding: 10px 20px;
  background: #2575fc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.popup-btn:hover {
  background: #1f63d1;
}
